<span class="text-muted mt-3">
    <hr> Found technical issue? Please contact <a
    href="https://www.linkedin.com/in/thunyatheps/"> Joe </a>
</span> 

<div class="fixed-bottom">
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container d-flex justify-content-between align-items-center">
            <span class="text-muted text-center">
                <img src="/img/hft_logo.svg" alt="" width="25px"> HFT Stuttgart. 2024 - 2025
            </span>
            <span class="text-center">
                Developed by <a href="https://www.linkedin.com/in/thunyatheps/"> Joe T.S. </a> & Team
            </span>
            <span class="text-right">
                <a href="http://hft-stuttgart.de/datenschutz">Datenschutz</a> | 
                <a href="http://hft-stuttgart.de/impressum">Impressum</a>
            </span>
        </div>
    </footer>
</div>