<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">


            <h3>
                <img src="/img/hft_logo.svg"
                    alt="" width="50px">
                    HFT OGC API Services
            </h3>
        </a>
    </div>
</nav>